table, td, th {
	border: 0.5mm solid #000;
	text-align: center;
	border-spacing: 0;
}
th {
	font-size: 10pt;
}
a {
	text-decoration:none;
	color:#000;
}
img.nav-prev,img.nav-next, #uMessages, #fIntervalHeures, #fSaisieHeuresInd, #notesversion, .noprint {
	    display:none;
}
#listeHeures > caption {
	font-size:200%;
	margin:15px 0;
}
#listeHeures tr:last-of-type {
	font-size:130%;
	height:2em;
}
#help, #helpButton { display:none;}
.centre {
	font-size:150%;
	margin-left:10%;
}
.underline {
	text-decoration:underline;
}
