/*
 * Planning
*/
.annee {
	height: 25px;
}
.idxJour {
	font-size: 1em;
	width: 33px;
}
table#grille,
.tabCong > table {
	margin: auto;
}
th.ferie {
	background-color: #90c990;
}
.conf {
	cursor: pointer;
}
/* Période de charge sur la grille */
div.charge {
	height: 3px;
	background-color: #f00;
	border-top: 1px solid #fff;
}
div.notcharge {
	height: 3px;
	border-top: 1px solid #fff;
}
/* Vacances scolaires sur la grille */
div.vacances {
	height: 3px;
	background-color: #00f;
}
div.notvacances {
	height: 3px;
}
/* Période de briefing sur la grille */
div.brief {
	height: 3px;
	background-color: #f90;
	border-top: 1px solid #fff;
}
div.nobrief {
	height: 3px;
	border-top: 1px solid #fff;
}
.dateGrille {
	text-align: center;
	font-size: 9pt;
	font-weight: normal;
}
.dateGrille a {
	color:rgb(0,0,0);
}
.dateGrille a:hover {
	color:#333;
}
.compteur-vertical {
	-webkit-transform-origin:50 0;
	-ms-transform-origin:50 0;
	transform-origin:50 0;
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform: rotate(90deg);
	width:25px;
	margin-top:-20px;
}
.w15 {
	width:15px;
	overflow:hidden;
}
/*
 * Affichage des utilisateurs dans la grille
*/
td.nom {
	font-weight: bold;
	font-size: 12px;
	padding: 1px;
	width: 120px;
	height: 22px;
	cursor: pointer;
}
td.cds {
	background-color: #50d053;
}
td.ce {
	background-color: #72f676;
}
td.dtch,
td.inst,
td.fmp,
td.pc {
	background-color: #93fda9;
}
td.c,
td.theo {
	background-color: #b7f9bf;
}
.fmp {
	color:purple;
}
.dtch {
	color: #900;
}
td.presence {
	font-family:Helvetica,"Liberation Sans",FreeSans,sans-serif;
	text-align: center;
	font-size: 9pt;
	font-weight: normal;
	width: 2.5em;
	cursor: pointer;
}
td.presence:hover {
}
/* Protection de la grille */
td.protected {
	cursor: default;
}
td.present {
	background: #ccffcc; /* Old browsers */
	background: -moz-linear-gradient(top, #c0ffc0 0%, #c7ffc7 50%, #c0f9c0 51%, #c0ffc0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0ffc0), color-stop(50%,#c7ffc7), color-stop(51%,#c0f9c0), color-stop(100%,#c0ffc0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c0ffc0 0%,#c7ffc7 50%,#c0f9c0 51%,#c0ffc0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c0ffc0 0%,#c7ffc7 50%,#c0f9c0 51%,#c0ffc0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c0ffc0 0%,#c7ffc7 50%,#c0f9c0 51%,#c0ffc0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #c0ffc0 0%,#c7ffc7 50%,#c0f9c0 51%,#c0ffc0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0ffc0', endColorstr='#c0ffc0',GradientType=0 ); /* IE6-9 */
}
td.absent {
	background-color: #99cc99;
	background: -moz-linear-gradient(top, #aaddaa 0%, #99cc99 50%, #99cc99 51%, #aaddaa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaddaa), color-stop(50%,#99cc99), color-stop(51%,#99cc99), color-stop(100%,#aaddaa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #aaddaa 0%,#99cc99 50%,#99cc99 51%,#aaddaa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #aaddaa 0%,#99cc99 50%,#99cc99 51%,#aaddaa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #aaddaa 0%,#99cc99 50%,#99cc99 51%,#aaddaa 100%); /* IE10+ */
	background: linear-gradient(to bottom, #aaddaa 0%,#99cc99 50%,#99cc99 51%,#aaddaa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaddaa', endColorstr='#aaddaa',GradientType=0 ); /* IE6-9 */
}
.tabCong td {
	min-width:6em;
}
.date {
	font-size: 9px;
}
.user {
	font-weight: bold;
}
#dDatePicker {
	width: 200px;
	margin: 10px auto;
	text-align:center;
}
.pointer {
	cursor: pointer;
}
.jdsc {
	font-size: .9em;
}
div.ferie {
	background-color: #ddb;
	height: 1.2em;
}
div.semaine {
	background-color: #f0f0c0;
	height: 1.2em;
}
.shift {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	height: 1.2em;
}
.monat {
	font-weight: bold;
	background-color: #dfd;
}
/*
 * Fenêtre de proposition de dispo
*/
div#sandbox {
	position: absolute;
	background: rgba(240,255,240,.8);
	width:5em;
	z-index: 90;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
}
div#sandbox ul {
	list-style-type: none;
	font-size: .9em;
}
div#sandbox li {
	margin: 0;
	padding-left: 3px;
	padding-right: 3px;
}
div#sandbox li:hover {
	cursor: pointer;
	font-weight: bold;
	background-color: rgba(180,255,180,.5);
	color:#330;
	-moz-transform: translateY(-3px) scale(1.25);
	-moz-box-shadow: 0px 2px 7px #999;
	-webkit-transform: translateY(-3px) scale(1.2);
	-webkit-box-shadow: 0px 2px 7px #999;
	-ms-transform: translateY(-3px) scale(1.2);
	-ms-box-shadow: 0px 2px 7px #999;
	box-shadow: 0px 2px 7px #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
}
/*
 * Décompte des présents
*/
.decompte {
	background-color: #ffd;
}
td.dcpt, td.dpt {
	font-family:Helvetica,"Liberation Sans",FreeSans,sans-serif;
	font-size: .9em;
	background-color: #dfe;
	margin: 0;
	padding: 0;
	padding-top: 3px;
	padding-bottom: 2px;
}
/*
 * Modification du décompte
 */
div#decompteInsert {
	position: absolute;
	background-image: url('../images/separateur.png');
	background-repeat: repeat;
	z-index: 90;
}
div#dFormRemplacement {
	position:absolute;
	z-index:999;
}
div#dFormRemplacement table {
	background-color:rgba(255,255,255,.9);
	padding:10px;
	border-spacing:0;
	border:0px solid #fff;
	-moz-border-radius:15px;
	-webkit-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	box-shadow: 0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
}
div#dFormRemplacement table td {
	background-color:transparent;
}
#dFormInfoSup {
	background-color:rgba(255,255,255,.9);
	padding:10px;
	border-spacing:0;
	border:0px solid #fff;
	-moz-border-radius:15px;
	-webkit-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	box-shadow: 0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
	max-width:195px;
}
.emphasize {
	background-color: #fdd;
	color: #f00;
}
.valide {
	color:#0070ff;
}
.filed {
	color:#f00;
}
.heures {
	color:white;
	text-shadow: 1px 1px black;
}
