* {
	padding:0;
	margin:0;
	border:0;
}
body {
	width:100%;
	background-color: #efe;
	color: #005500;
	font-family: "Liberation Serif", FreeSerif, serif;
	font-size: 10pt;
	height:100%;
}
div#container {
	min-height:100%;
	width:100%;
}
a {
	text-decoration: none;
	border: none;
	color:#005500;
	margin: 0;
	padding: 0;
}
p {
	text-align:justify;
}
h1 {
	font-family: Helvetica, "Liberation Sans", FreeSans, sans;
	font-weight:bold;
	font-size: 24px;
}
h2 {
	font-family: "Liberation Serif", FreeSerif, serif;
	font-size: 16pt;
	padding-left:1em;
}
.waiting {
	cursor:wait;
}
.button {
	cursor: pointer;
}
.desc {
	text-align: justify;
}
.boite {
	background: rgba(255,255,255,.85);
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	box-shadow: 0px 2px 7px #7b7;
	-moz-box-shadow: 0px 2px 7px #7b7;
	-webkit-box-shadow: 0px 2px 7px #7b7;
	-ms-box-shadow: 0px 2px 7px #7b7;
	-o-box-shadow: 0px 2px 7px #7b7;
}
ul.lien {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color:#005500;
}
ul.lien li {
	cursor: pointer;
}
ul.lien > li:hover {
	-moz-transform: translateY(-3px) scale(1.05);
	-webkit-transform: translateY(-3px) scale(1.05);
	-ms-transform: translateY(-3px) scale(1.05);
	-o-transform: translateY(-3px) scale(1.05);
	-moz-transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
}
ul.sousmenu {
	list-style: none;
	margin: 0;
	margin-left: 5px;
	padding-left: 5px;
	color:#005500;
}
div#horlogeFond, div#nav1, div#nav2, div#nav3, div#nav4 {
	position: absolute;
	background-image: url('../images/glue2.png');
	background-repeat: no-repeat;
	z-index: 1000;
}
div#horlogeFond {
	width: 768px;
	height: 768px;
	z-index: 800;
}
div#nav1 {
	background-position:-934px -324px;
	width: 163px;
	height:145px;
	margin-top:157px;
	margin-left: 70px;
}
div#nav2 {
	background-position:-768px -238px;
	width: 280px;
	height:86px;
	margin-top:122px;
	margin-left: 355px;
}
div#nav3 {
	background-position:-768px -324px;
	width: 166px;
	height:184px;
	margin-top:430px;
	margin-left: 45px;
}
div#nav4 {
	background-position:-768px 0px;
	width: 338px;
	height:238px;
	margin-top:395px;
	margin-left: 335px;
}
div#content {
	margin:auto;
	margin: 40px auto;
	max-width:768px;
	height:768px;
}
div#content a {
	text-decoration:none;
}
#licence {
	position:absolute;
	margin-top:220px;
	margin-left:200px;
	padding:1em;
	width:440px;
	z-index:1500;
}

/*
 * Contenu nav1
 */
div#nav1-text {
	position: absolute;
	margin-top: 173px;
	margin-left: 140px;
	z-index: 1500;
}
li div#dAccueil {
	display: none;
}
li:hover div#dAccueil {
	display: block;
	position: absolute;
	margin-top: 25px;
	margin-left: 50px;
	padding: 10px;
	width: 440px;
	z-index: 1500;
}
/*
 * Contenu nav2
 */
div#nav2-text {
	position: absolute;
	margin-top: 95px;
	margin-left: 503px;
	z-index: 1500;
}
li:hover form#fConn {
	display: block;
}
@media screen and (max-width: 900px) {
	#fConn {
		font-size:14pt;
	}
	#fConn input {
		font-size:14pt;
	}
}
@media screen and (min-width:900px) {
	#fConn {
		font-size: 10pt;
	}
	#fConn input {
		font-size:10pt;
	}
}
.largeConnexion {
	display:block;
	-moz-transform: translateY(150px) translateX(-150px) scale(3);
	-webkit-transform: translateY(150px) translateX(-150px) scale(3);
	-ms-transform: translateY(150px) translateX(-150px) scale(3);
	-o-transform: translateY(150px) translateX(-150px) scale(3);
	-moz-transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
}
/*
 * Contenu nav3
 */
div#nav3-text {
	position: absolute;
	margin-top: 400px;
	margin-left: 50px;
	/*margin-top: 595px;
	margin-left: 420px;*/
	width: 10em;
	z-index: 1500;
}
li div#dSupport {
	position:absolute;
	margin: 0;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
div#dSupport ul {
	display:none;
}
div#dSupport li {
	width: 8em;
	padding: 3px;
	margin-right:8px;
}
div#dSupport li:hover {
	background: rgba(216,250,216,.8);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	box-shadow: 0px 2px 7px #7b7;
	-moz-box-shadow: 0px 2px 7px #7b7;
	-webkit-box-shadow: 0px 2px 7px #7b7;
	-ms-box-shadow: 0px 2px 7px #7b7;
	-o-box-shadow: 0px 2px 7px #7b7;
}
/*
 * Contenu nav4
 */
div#nav4-text {
	position: absolute;
	margin-top: 597px;
	margin-left: 350px;
	width: 10em;
	z-index: 1500;
}
div#version {
	position:absolute;
	margin-top: 500px;
	margin-left: 480px;
	z-index: 900;
	font: bold oblique 46pt fantasy, cursive, serif;
	color: #56e751;
	text-shadow: 2px 2px 0 #000;
}
/*
 * Formulaire d'enregistrement
 */
	form {
		display:none;
		background:rgba(255,255,255,.7);
		padding:10px;
		border-radius:15px;
		box-shadow: 2px 2px 2px #88aa88;
		-webkit-transition:ALL 1s ease-out;
		-moz-transition:ALL 1s ease-out;
		-o-transition:ALL 1s ease-out;
		transition:ALL 1s ease-out;
	}
	form:hover {
		background:#fff;
	}
	form ul li {
		list-style:none;
	}
	fieldset {
		display:table;
		padding:5px;
		border:1px solid #060;
		border-right:3px solid #060;
		border-bottom:3px solid #060;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
	}
	legend {
		padding:5px;
		font-size:180%;
	}
	input, textarea, select {
		font-family: Helvetica, "Liberation Sans", FreeSans, sans-serif;
		font-size: 11pt;
		color: #060;
		background:rgba(255,255,255,.8);
		margin: 2px auto;
		border: 1px solid #060;
		width: 9em;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		-ms-border-radius: 7px;
		-o-border-radius: 7px;
		border-radius: 7px;
	}
	#fRecover {
		position:relative;
		background:rgba(255,255,255,0);
		left:495px;
		top:130px;
		display:block;
		width:140px;
		z-index:1000;
		box-shadow: 0px 2px 7px rgba(255,255,255,0);
		-moz-box-shadow: 0px 2px 7px rgba(255,255,255,0);
		-webkit-box-shadow: 0px 2px 7px rgba(255,255,255,0);
		-ms-box-shadow: 0px 2px 7px rgba(255,255,255,0);
		-o-box-shadow: 0px 2px 7px rgba(255,255,255,0);
	}
	#fRecover:hover,
        #fRecover input:focus	{
		background:#fff;
		box-shadow: 0px 2px 7px #7b7;
		-moz-box-shadow: 0px 2px 7px #7b7;
		-webkit-box-shadow: 0px 2px 7px #7b7;
		-ms-box-shadow: 0px 2px 7px #7b7;
		-o-box-shadow: 0px 2px 7px #7b7;
	}
	#fRecover input {
		display:none;
		background:rgba(255,255,255,.1);
		color:rgba(0,100,0,.3);
		border:1px solid rgba(0,100,0,.1);
	}
	#fRecover:hover input,
	#fRecover input:focus 	{
		display:block;
		border:1px solid #7a7;
		color:#7a7;
	}
	#fRecover fieldset {
		border:none;
	}
	#fRecover:hover legend {
		display:none;
	}
	#fRecover legend {
		width:7em;
		text-align:center;
		font-size:115%;
		animation:blonk 2s infinite alternate;
	}
	@keyframes blonk {
		from {
			color:rgba(0,100,0,.2);
			text-shadow:2px 2px rgba(155,255,155,.5);
		}
		to {
			color:rgba(0,100,0,.7);
			text-shadow:2px 2px rgba(255,255,255,.7);
		}
	}
	#fSignup {
		position:absolute;
		margin:-310px 0 0 -55px;
		width:300px;
		z-index:2000;
	}
        #fSignup:hover {
		background:rgb(255,255,255);
	}
	#fSignup ul li {
		max-width:242px;
	}
	#fSignup label {
		float:left;
		width:90px;
	}
	#fSignup input:not([type=submit]) {
		width:150px;
	}
	#fSignup input:[type=submit] {
		width:240px;
	}
	/*
	 * placeholder
	 */
		::-webkit-input-placeholder { color:#7a7; }
		::-moz-placeholder { color:#7a7; } /* firefox 19+ */
		:-ms-input-placeholder { color:#7a7; } /* ie */
		input:-moz-placeholder { color:#7a7; }
/*
 * Fenêtre d'information
 */
#info {
	position:absolute;
	font-size: 2em;
	display: none;
	background: rgba(255,255,255,.9);
	padding: 5px;
	margin:auto;
	top:50%;
	right:35%;
	width:30%;
	max-width:600px;
	z-index:9999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	text-align:center;
}
