img.online {
	position:absolute;
	left:-48px;
	top:-50px;
	clip:rect(50px, 48px, 74px, 24px);
}
div#onoff {
	position:relative;
	left:35px;
	cursor: pointer;
	margin-bottom:20px;
}
img.offline {
	position:absolute;
	top:-50px;
	left:-24px;
	clip:rect(50px, 24px, 74px, 0);
}
