{* Smarty *}
<form id="fFormInfoSup" method="post" action="ajax.php" style="display:none;">
<div id="dFormInfoSup">
<input type="hidden" name="q" value="IS" />
<input type="hidden" name="ajax" value="true" />
<input type="hidden" name="cachemoi" value="1" />
<input type="hidden" name="uid" id="infoSupUid" />
<input type="hidden" name="Year" id="infoSupYear" />
<input type="hidden" name="Month" id="infoSupMonth" />
<input type="hidden" name="Day" id="infoSupDay" />
<input name="info" id="infoSupNom" type="text" placeholder="Description" />
<label for="alimRcup">Alimente compte récup</label>
<input type="checkbox" name="alimRcup" id="alimRcup" />
<input type="reset" value="Effacer" class="bouton" />
<input type="submit" />
</div>
</form>
