{* Smarty *}
{if isset($help)}
<div class="round-button round-button_medium" id="helpButton" onclick="$('#help').slideToggle('slow');">?</div>
<article id="help" onclick="$(this).slideToggle('slow');">
{$help}
</article>
{/if}
