{* Smarty *}
<div class="w48">
<div id="onoff" class="imgwrapper24 {$switch['class']}" title="{$switch['title']}">
<img id="ionoff" src="{$image}" class="{$switch['class']}" />
</div>
<div id="cau" class="bouton">Recréer tous les utilisateurs dans la base</div>
<div id="stm" class="bouton">Envoyer un mail de test à {$mailtest}</div>
</div>
