{* Smarty *}
<div class="ng w48 bloc">
Dernières heures saisies : <strong>{$lastHeures}</strong>
<form name="fSaisieHeures" id="fSaisieHeures" method="POST" action="">
<ul>
<textarea name="tableau" id="tHeures"></textarea></li>
<li><input type="submit" /></li>
</ul>
</form>
</div>
