{* Smarty *}
<form id="fSaisieHeuresInd" class="ng w24" method="POST" action="">
<ul>
<li>
<fieldset>
<legend>Ajout</legend>
<ul>
<li>
<label for="dateM">Date</label>
<input type="date" name="date" id="dateM" />
</li>
<li>
<fieldset>
<legend>Heures</legend>
<ul>
{foreach $aType as $type}
<li>
<label for="{$type}">{$type}</label>
<input type="text" name="{$type}" id="type{$type}" />
</li>
{/foreach}
</ul>
</fieldset>
</li>
</ul>
</fieldset>
</li>
<li>
<input type="submit" />
</li>
</ul>
</form>
